/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #808080; /* Use a shade of grey you prefer */
}

/* Black container styles */
.container {
    position: absolute;
    top: 25%; /* Center vertically and set to 25% from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 50%; /* Set to 50% of the viewport width */
    min-height: 100%; /* Set a minimum height to cover the entire screen vertically */
    overflow: visible; /* Allow content to overflow the container */
    background-color: rgba(0, 0, 0);
}

/* Text content styles */
.text-content {
    color: white; /* White text color */
    font-size: 20px; /* Adjust the text size as needed */
    padding: 20px;
}

/* Larger heading text */
.text-content h1 {
    font-size: 48px; /* Adjust the heading size as needed */
}

/* Add a 6pt gap after each paragraph */
.text-content p {
    margin-bottom: 6pt;
}

/* Add a larger gap before and after each paragraph containing an image */
.text-content p {
    text-align: left;
    margin: 24px 0; /* 24px top and bottom margin for image-containing paragraphs */
}

/* Image styles within the text content */
.text-content img {
    display: block;
    margin: 0 auto;
    max-width: 50%; /* Limit image width to 50% of the container */
    border: 6px solid #808080; /* Grey frame around the images */
}
