/* Reset default margin and padding */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Background image styles */
.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("img/crow_bg.jpg");
    background-size: 100% 100%;
    z-index: -1;
}

/* Black container styles */
.container {
    position: absolute;
    top: 50%; /* Adjust this to control vertical positioning */
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%); /* Center both vertically and horizontally */
    background-color: rgba(0, 0, 0, 0.9); /* Black background with 50% opacity */
}

/* Text content styles */
.text-content {
    text-align: center;
    color: white; /* White text color */
    padding: 20px;
}

/* Add a 6pt gap after each paragraph */
.text-content p {
    margin-bottom: 6pt;
}

/* Image styles within the text content */
.text-content img {
    display: block;
    margin: 0 auto;
    max-width: 90%; /* Limit image width to 90% of the container */
}
